@model CarRental.Models.ViewModels.CreateRentalViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rental.Rentee" class="control-label"></label>
                <input asp-for="Rental.Rentee" class="form-control" />
                <span asp-validation-for="Rental.Rentee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.CarId" class="control-label"></label>
                <select class="form-control" asp-for="Rental.CarId"
                        asp-items="@(new SelectList(Model.Cars, "Id", "Model"))">
                    <option>Select room</option>
                </select>
                @*<input asp-for="Rental.CarId" class="form-control" />
                <span asp-validation-for="Rental.CarId" class="text-danger"></span>*@
            </div>
            @*<div class="form-group">
                <label asp-for="Rental.Car" class="control-label"></label>
                <input asp-for="Rental.Car" class="form-control" />
                <span asp-validation-for="Rental.Car" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Rental.From" class="control-label"></label>
                <input asp-for="Rental.From" class="form-control" />
                <span asp-validation-for="Rental.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.To" class="control-label"></label>
                <input asp-for="Rental.To" class="form-control" />
                <span asp-validation-for="Rental.To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
